parameters:
	ignoreErrors:
		-
			message: "#^Call to static method getUtilsObject\\(\\) on an unknown class OxidEsales\\\\Eshop\\\\Core\\\\Registry\\.$#"
			count: 1
			path: src/DataObject/CategoryFactory.php

		-
			message: "#^Property OxidEsales\\\\GraphQL\\\\Example\\\\Dao\\\\CategoryDao\\:\\:\\$queryBuilderFactory has unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Database\\\\QueryBuilderFactoryInterface as its type\\.$#"
			count: 1
			path: src/Dao/CategoryDao.php

		-
			message: "#^Parameter \\$queryBuilderFactory of method OxidEsales\\\\GraphQL\\\\Example\\\\Dao\\\\CategoryDao\\:\\:__construct\\(\\) has invalid typehint type OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Database\\\\QueryBuilderFactoryInterface\\.$#"
			count: 1
			path: src/Dao/CategoryDao.php

		-
			message: "#^Call to method create\\(\\) on an unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Database\\\\QueryBuilderFactoryInterface\\.$#"
			count: 3
			path: src/Dao/CategoryDao.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Container\\\\ContainerFactory\\.$#"
			count: 2
			path: src/DataObject/Category.php
